<!-- 1 -->
<!-- <h2>hello world from {{ title }}</h2>
<div class="directive" *ngIf="listOfMovies.length>5">
  {{ mainChar }}
</div>
<div class="list-of-movies" [ngStyle]="{'background':shouldBeRed?'red':'blue'}">
  <div class="movie" *ngFor="let movie of listOfMovies">{{ movie }}</div>
</div>
<button (click)="shouldBeRed = !shouldBeRed">Change</button> -->

<!-- <app-movies
  *ngIf="shouldDisplayMovie"
  [listOfMovies]="['Iron', 'wonder']"
></app-movies>
<button (click)="toggleMovieComponent()">toggleMovieComponent</button> -->
<app-movies></app-movies>
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/idoElishar/firstAngular.git
git push -u origin main